/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js/app.js
/resources/public/js/app-tests.js
/resources/public/js/app.js.map
/resources/public/js/app-release
/resources/public/js/electron-release
/resources/public/js/electron-dev
/resources/public/js/out
/resources/public/js/tests
/Kiwi-darwin-*
/out
/.repl
*.log
/.env
*.un~
resources/main.js
node_modules
.DS_Store

dist
.cpcache
