^{:watch-dirs ["src" "test" "cards"]
  :extra-main-files {:tests {:main runners.browser}
                     :devcards {:main cards.kiwi.core}}
  :npm {:bundles {"dist/index.bundle.js" "src/js/index.js"}}}
{:main kiwi.core
 :devcards true
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
 :preloads [devtools.preload
            day8.re-frame-10x.preload]
 :optimizations :none
 :output-to     "resources/public/js/app.js"
 :output-dir    "resources/public/js/out"
 :asset-path    "js/out"
 :source-map    true
 :pretty-print  true}
