/*Style internal wiki links i.e [[Link]]*/
.cm-internal-link {
    color: blue;
}

.tools {
  margin-bottom: 1em;
  text-align: right;
}
.CodeMirror {
  height: auto;
  line-height: 1.3em;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
.hidden {
  display: none;
}
.edit-button {
  float: right;
  margin: 10px;
}
#edit-container {
  min-width: 20em;
  max-width: 720px;
}
#edit {
  background: #fff;
  color: #333;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: -5px;
  padding: 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}