html {
  box-sizing: border-box;
  background: #f6f6f6;
  -webkit-text-size-adjust: none; /* Never autoresize text */
}
body {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 16px;
  background: #f6f6f6;
  color: #444;
}
li {
  line-height: 16px;
  color: #444;
}
.center {
  text-align: center;
}
sup {
  font-size: 11px;
  color: #999;
}
code {
  font-size: 1em;
}
footer {
  background: #fff;
  padding: 1em 0;
  border-top: 1px solid #ddd;
  font-size: 11px;
  color: #aaa;
  text-align: center;
}
footer a {
  color: #999;
  text-decoration: underline;
}
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4em auto;
  max-width: 90em;
}
#edit-container {
  flex: 1;
  min-width: 20em;
  max-width: 45em;
}
#edit {
  background: #fff;
  color: #333;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: -5px;
  padding: 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}
#page-container {
  z-index: 10;
  flex: 1;
  min-width: 20em;
  max-width: 45em;
}
#page {
  background: #fff;
  color: #333;
  padding: 2em;
  margin-bottom: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}
#page h1.title {
  margin: -1em -1em 1em -1em;
  padding: 0.7em 1em;
  background: #fffdef;
  font-size: 1.8em;
  border-bottom: 1px solid #eee;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
#page h1.title a {
  text-decoration: none;
}
#page ul li {
  line-height: 1.5em;
  margin-bottom: 0.4em;
}
#page ul li ul {
  margin-top: 0.4em;
}
:not(pre) > code {
  background: #f5f2f0;
  font-family: Menlo;
  font-size: 0.75em;
}
#page a {
  color: #00998f;
  text-decoration: none;
}
#page a.internal {
  text-decoration: none;
  padding: 2px 3px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 0.75em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b1edfc;
  background: #ccf4fe;
  color: #666;
}
#page a.internal.new {
  background: #fecccc;
  border: 1px solid #fcb1b1;
}
#page h1,
#page h2,
#page h3,
#page h4,
#page h5,
#page h6 {
  margin-bottom: 15px;
  color: #333;
}
#page p {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
#page img {
  max-width: 100%;
}
#page form {
  padding-left: 0 !important;
}
#page form label {
  margin-bottom: 10px;
}
#page form textarea {
  width: 98%;
  height: 300px;
  margin-bottom: 10px;
}
#page blockquote {
  color: #999;
}
.tools {
  margin-bottom: 1em;
  text-align: right;
}
.CodeMirror {
  height: auto;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
.hidden {
  display: none;
}
.edit-button {
  float: right;
  margin: 10px;
}


@media screen and (max-width: 480px) {
  #content {
    margin: 0;
  }
  #content nav {
    text-align: center;
  }
  #page {
    border-radius: 0;
    margin: 0 0 1em;
    border: none;
  }
}
