html, body {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    font-family: 'source-sans-pro', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #444;
    -webkit-font-smoothing: antialiased;
}

hr { 
    background-color: #f6f6f6; 
    height: 2px; 
    border: 0; 
}

a:link { 
    color: #4A60D6;
    text-decoration: none;
}  /* unvisited links */
a:visited { 
    color: #4A60D6;
}  /* visited links   */
a:hover { 
    color: #4A60D6;
    text-decoration: underline;
}  /* user hovers     */

h1 {
    font-weight: 900;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
}

.body {
    position: relative;
    margin: 0em auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper {
  margin: 0em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5em;

}

.content {
    box-sizing: border-box; 
    z-index: 1;
    flex: 1;
    padding: 2em;

    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);

  min-width: 20em;
  max-width: 720px;
}

.header {
    max-width: 650px;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(68, 68, 68, 0.8);
    text-shadow: 1px 1px 2px #fff, 0 0 0 #000, 1px 1px 2px #fff;
}
.logo a {
    color: #444;
    text-decoration: none;
}
.logo {
    font-weight: 700;
}

.navigation { }
.navigation ul {
    margin: auto;
    list-style: none;
    display: flex;
    align-items: center;
}
.navigation li {
    margin: auto;
    margin-left: 0.5em;
}
.navigation a {
}

.navigation a:link    { color: #4A60D6 }  /* unvisited links */
.navigation a:visited { color: #4A60D6 }  /* visited links   */
.navigation a:hover   { color: #4A60D6 }  /* user hovers     */

article {
}
article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-size: 1.1em;

    overflow: scroll;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emoji {
    width: 1em;
    height: 1em;
}

.post-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.post-date {
    color: #C3C3C3;
    display: block;
    font-style: italic;
}

.life-canvas {
    z-index: 0;
    position: absolute;
}

img.me {
    width: 150px;
    float: right;
    margin-left: 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

img.emoji {
    display: inline-block;
}

.archive {
    list-style: none;
    padding-left: 0;
}
.archive a {
}
.archive .post-title {
    margin-bottom: 0.1em;
}
.archive .post-date {
    margin-top: 0.1em;
}
.archive li {
    margin: 40px 0;
}
.archive li:first-child {
    margin-top: 0;
}

.archive li:last-child {
    margin-bottom: 0;
}

.footnotes {
    border-top: 2px solid #f6f6f6;
    padding-top: 2em;
    margin-top: 2em;
}

#page a.internal {
  text-decoration: none;
  padding: 2px 3px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 0.75em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b1edfc;
  background: #ccf4fe;
  color: #666;
}
#page a.internal.new {
  background: #fecccc;
  border: 1px solid #fcb1b1;
}
.page-list {
    padding-left: 0;
    list-style: none;
    line-height: 2em;
}
.page-list li {
    margin: 20px 0;
    border-bottom: 2px solid #f6f6f6;
}
.page-link {
    font-weight: 600;
}
.page-date {
    float: right;
    color: #C3C3C3;
}
.page-preview {
    margin-top: 0;
    color: #666;
}

.task-list {
    list-style: none;
    padding-left: 0;
}
